/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0; /* 移除body的外边距，以实现全宽度 */
    overflow-x: hidden; /* 防止水平滚动 */
}

/* Styling for header */
.header {
    background-color: black; /* Facebook blue */
    color: #fff;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column; /* 将子元素垂直排列 */
    align-items: center;
    text-align: center; /* 居中文本 */
}

.info {
    margin-bottom: 20px; /* 添加间距 */
}

.logo{
    width: auto;
}

.name, .number, .planer {
    margin-bottom: 10px; /* 添加间距 */
    font-style: italic; /* 斜体文本 */
    font-size: 20px;
}


/* Styling for the image */
#pic1 {
    width: 7%;
    height: 12%;
    position: absolute;
    left: 12%; /* 调整左侧位置 */
    top: 8%; /* 调整上侧位置 */
}
#pic2 {
    width: 6%;
    height: 10%;
    position: absolute;
    left: 20%; /* 调整左侧位置 */
    top: 26%; /* 调整上侧位置 */
}

#pic3 {
    width: 7%;
    height: 11%;
    position: absolute;
    left: 70%; /* 调整左侧位置 */
    top: 25%; /* 调整上侧位置 */
}
#pic4 {
    width: 7%;
    height: 10%;
    position: absolute;
    left: 85%; /* 调整左侧位置 */
    top: 27%; /* 调整上侧位置 */
}

#pic5 {
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0%;
    top: 28%; /* 增加 top 值以下移 */
}

#pic6 {
    width: 8%;
    height: 10%;
    position: absolute;
    left: 80%; /* 调整左侧位置 */
    top: 9%; /* 调整上侧位置 */
}



.last_data1 {
    margin: 20px;
}

.last_data2 {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Add more CSS styles as needed to further customize the appearance of your table */

/* Styling for history data section */
.history_title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.area_title {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

/* Styling for select dropdown */
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for date inputs */
input[type="date"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling for buttons */
input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: red; /* Pink */
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: 	#AE0000; /* Darker pink on hover */
}

/* Styling for chart container */
.chart {
    height: 800px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-item input[type="checkbox"] {
    appearance: none;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.legend-item input[type="checkbox"]:checked {
    background-color: 	#0080FF;
    border-color: 	#0080FF;
}

.spacer {
    width: 20px;
}

.legend-item label {
    cursor: pointer;
    font-weight: 500;
}

/* 不選中的 label 樣式 */
.legend-item input[type="checkbox"] + label {
    color: #888888;
}

.evaluation {
    display: flex;
    justify-content: center;
  }

.evaluation table {
    border: 1px solid #ccc;
    margin: 0 20px;
}

.spacer {
    width: 50px; /* 调整占位空间的宽度 */
  }

  .chart2 {
    height: 800px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  

/* Styling for history data section */
.performance_title {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}
.grid-container {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px; /* 调整容器宽度 */
    height: 155px; /* 调整容器高度 */
    margin: 0 auto; /* 水平居中 */
    border: 1px solid #ccc;
    flex-direction: column; /* 垂直排列子元素 */
    text-align: center; /* 文本居中 */
  }

  .explain_title {
    font-weight: bold;
  }

  .explain {
    margin-top: 10px;
  }

/* .hour_title,
    .indicators_title {
        display: inline-block;
        margin-right: 20px;
        font-weight: bold;
        text-align: center;
         
    } */



.hour_title {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.kind_title {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}
.indicators_title {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}

.search2 {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
}


.chart4 {
    height: 900px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 


/* Styling for latest data table */
.last_data {
    margin-bottom: 40px;
}

.last_data table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.last_data th {
    /* background-color: #2196f3; Blue */
    color: #fff;
    padding: 12px;
}

.last_data td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Styling for footer */
.foot {
    background-color: #673ab7; /* Purple */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.foot .name, .foot .number, .foot .planer {
    margin-bottom: 10px;
}

/* Add some spacing between elements */
br {
    margin-bottom: 20px;
}

/* Styling for navigation */
nav {
    background-color: black; /* 背景色与原始样式相同 */
    padding: 10px 0;
}

ul.style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* 将导航链接居中对齐 */
    left: 15%;
}

.style {
    z-index: 1040;
    position: fixed;
    display: flex;
    align-items: center;
    width: 70%;
    position: absolute;
}
ul.style li.aa {
    margin: 0 20px; /* 适度的外边距 */
}

ul.style li.aa a {
    color: #fff; /* 文本颜色为白色 */
    text-decoration: none; /* 去掉下划线 */
    font-weight: bold; /* 加粗字体 */
    font-size: 18px; /* 字体大小 */
    transition: color 0.3s; /* 添加过渡效果 */

    /* 鼠标悬停时的样式 */
}

ul.style li.aa a:hover {
    color: red; /* 鼠标悬停时的颜色，你可以根据需要更改 */
}

#header .name, #header .number, #header .planer {
    margin-bottom: 10px;
}
